.head{
text-align: center;
}
.container{
    width: 100% !important;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}
*{
    background-color: #aa2222;
}
.mmp{
    width: 40%;
}